*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

a{
    color:white;
    margin:10px;
    text-decoration: none;
    line-height: 10px;
}

.dbg header{
    height:550px;
    background-color: blue;
    position:relative;
}


body{
  /*   min-width: 800px; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color:aliceblue;
}
/* header */

header{
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 110% 110%;
}
/* navbar */
nav{
    margin: auto;
    width:80%;
  /*   background-color: red; */
}

.logo{
    padding:5px;
    display: inline-block;
    line-height: 50px;
}
.logo>img{
    float:left;
}
.left_menu{
    display: inline-block;
    float:left;
    line-height: 60px;
    margin-top: 10px;
}

.right_menu{
    width:auto;
    display: inline-block;
    float:left;
    text-align: right;
    margin-left: 100px;

}

.left_menu a:first-child{
    margin-left: 50px;
}
.left_menu a{
    float:left;
}

.left_menu, .right_menu, .bottone_titolo{
    font-size: 14px;
    text-transform: uppercase;
}

.btn{
    padding:3px 8px;
    border-radius: 5px;
}

.empty{
    color:white;
    border: 1px solid white;
}

.solid{
    background-color: #7CBB02;
}

.empty:hover{
    background-color: #7CBB02;
    color:white
}

.solid:hover{
    background-color: greenyellow;
}
/* /navbar */

.titolo_grande{
    font-size:25px;
    width:600px;
    color:white;
    position:absolute;
    bottom:30%;
    left:10%;
}

.bottone_titolo{ 
    padding:15px;
    margin-top: 30px;
    width:200px;
    border-radius: 5px;
}

.titolo_piccolo{
    text-align: center;
    height:150px;
    background-color: #D3D3D3;
}
.titolo_piccolo>h2{
    margin:auto;
    padding-top:40px;
}

.titolo_piccolo>span{
    margin:auto;
    color:#808080;
    
}